<h1>Fizzle Bizzle Test</h1>
<hr />
<h4> For Engagency</h4>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-6">
            1 of 3
        </div>
        <div class="col-md-12 col-lg-6">
            2 of 3 (wider)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6">
            1 of 3
        </div>
        <div class="col-md-12 col-lg-6">
            2 of 3 (wider)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6">
            1 of 3
        </div>
        <div class="col-md-12 col-lg-6">
            2 of 3 (wider)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-4">
            1 of 3
        </div>
        <div class="col-md-12 col-lg-4">
            2 of 3 (wider)
        </div>
        <div class="col-md-12 col-lg-4">
            3 of 3 (wider)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            1 of 3
        </div>
    </div>
</div>