.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #563131;
    -webkit-transition: .6s;
    transition: .6s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(204,54,17);
    -webkit-transition: .6s;
    transition: .6s;
}

input:checked + .slider {
    background-color: white;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #e9e913; /* yellow */
}

h4 {
    font-weight:500;
}

hr {
    border: 4px solid white;
}

.example-text {
    font-weight: 500;
    background-color: white;
    color: rgb(204,54,17);
    border-radius: 0 1em 0 1em;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: white;
    border-color: rgb(204,54,17);
    color: rgb(204,54,17);
}

.btn.disabled, .btn:disabled {
    cursor: not-allowed;
    opacity: .9;
}

.btn-primary {
    color: rgb(204,54,17);
    background-color: white;
    border-color: white;
    opacity: 1;
}
button {
    width: 100%;
}

.alert-danger {
    background-color: #ffffff;
    color: #e12222;
    border-color: #e12222;
    font-size: 13px;
    text-align: center;
}

.align-center {
    margin:auto;
    width:80%;
}